
$primary: #22DD9B;
$primary-darker: darken($primary, 5);
$primary-lighter: lighten($primary, 5);

$secondary: #DD2264;
$secondary-darker: darken($secondary, 5);
$secondary-lighter: lighten($secondary, 5);
    
$gray: rgb(75, 75, 75);



